.big {
  position: absolute;
  font-family: 'Garamond', sans-serif;
  width: 100%;
  display: flex;
}

.LeftCol {
  width: 48%;
  float: left;
  margin-left: 20px;
  padding-right: 20px;
}

.RightCol {
  width: 48%;
  float: right;
  margin-left: 20px;
  padding-right: 20px;
  vertical-align: top;
}

.stopOverflow {
  max-height: 500px;
  overflow: scroll;
}

.recResults {
  border-radius: 30px;
  border-style: groove;
  border-width: 3px;
  border-color: #000000;

}
