.Overall {
  background: #f2efe8 none repeat scroll 0 0;
  background-image: linear-gradient(to right, #fdfbfb, #ebedee);
  position: absolute;
  font-family: 'Garamond', sans-serif;
  width: 100%;
}

.topRow {
  position: relative;
  width: 100%;
  /* background-color: #ff0000; */
  display: flex;
}

.topLeft {
  /* background-color: #0000ff; */
  float: left;
  width: 38%;
  display: flex;
}

.topLeft h1 {
  text-decoration: bold;
  padding-left: 5px;
  font-size: 8vw;
  text-align: center;
}

.topRight {
  float: left;
  height: 100%;
  width: 60%;
  display:flex;
}

.scores {
  position: relative;
  float:left;
  /* background-color: #66bb55; */
  width: 68%;
}

.scores h2 {
  padding-left: 5px;
  font-size: 3vw;
  text-align: left;
}

.otherClasses {
  position: relative;
  float: left;
  /*background-color: #ffff00;*/
  font-size: 1.5vw;
  text-align: left;
  width: 100%;
}

.otherClasses h2 {
  padding-left: 5px;
  font-size: 2vw;
}

.classInfo {
  padding-left: 5px;
}

.botRow {
  /* background-color: #ffff00; */
  padding: 5px 25px 5px 25px;
  display: flex;
}

.reviewInfo {
  width: 20%;
  float: left;
  position:relative;
  text-align:center;
  margin-right: 10px;
}

.reviewTarget {
  width: 20%;
  float: left;
  position:relative;
  text-align: center;
  margin-right: 10px;
}

.reviewContent {
  width: 58%;
  float: right;
  position:relative;
}

button.upvotes {
  padding-right: 60px;
  font-size: 1.5vw;
  background: none;
  border: none;
  position: absolute;
  right: 0;
  bottom: 0;
}

button.downvotes {
  font-size: 1.5vw;
  background: none;
  border: none;
  position: absolute;
  right: 0;
  bottom: 0;
}

.TSR {
  padding-left: 10px;
}
