.Top3Recs {
  background: #f2efe8 none repeat scroll 0 0;
  border-radius: 30px;
  margin-top: 15px;
  margin-left: 25px;
  padding: 5px 15px 5px 15px;
  font-size: 18px;
  font-family: Garamond;
  width: 69%;
  float: left;
}

.Top3Recs h2 {
  margin-top: 5px;
  font-size:
}

.ReqsAll {
  display: flex;
  flex-direction: row;
  vertical-align: top;
}

.ReqsComp {
  border-radius: 30px;
  border-style: groove;
  border-width: 3px;
  border-color: #000000;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.ReqsComp h3 {
  margin-top:10px;
}

.Searcher {
  background: #f2efe8 none repeat scroll 0 0;
  border-radius: 30px;
  margin-top: 15px;
  margin-right: 15px;
  padding: 5px 5px 5px 5px;
  font-size: 18px;
  width: 27%;
  float: right;
  vertical-align: top;
  display: block;
}

.Searcher h2 {
  margin-top: 3px;
  margin-left: 10px;
}

button.SearchProf {
  color: blue;
  text-decoration: underline;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
}

.TopRow {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  margin-bottom: 10px;
}

.TopRow h4 {
  font-size: 20px;
  margin-top: 0px;
  margin-left: 30px;
}

.BottomRow {
  margin-left: 20px;
  display: block;
}

.dropDown {
  width: 40%;
  margin-left: 10px;
  height: 80%;
  font-size: 15px;
}
